################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/komiwojazer/obj/Debug/komiwojazer.csproj.CoreCompileInputs.cache
/komiwojazer/obj/Release/komiwojazer.csproj.CoreCompileInputs.cache
/komiwojazer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/komiwojazer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/komiwojazer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/komiwojazer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/komiwojazer/obj/Debug
