################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/komiwojazer/obj/Debug/komiwojazer.csproj.CoreCompileInputs.cache
/komiwojazer/obj/Release/komiwojazer.csproj.CoreCompileInputs.cache
